.title {
  color: blue;
  font-size: 24px;
  font-weight: bold;
  .divd {
    font-size: 36px !important;
    font-weight: 600 !important;
    color: black;
    margin: 10px;
  }
}

p {
  font-size: 24px;
  font-weight: bold;
  color: brown;
}
